.header__logo {
  z-index: 1;
  width: 176px;
  height: 52px;
  background-image: url(../../../image/__logo.png);
  background-size: cover;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
