.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 810px) {
  .footer__copyright {
    flex-direction: column;
    margin-top: 24px;
  }
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-bottom: 0;
    margin-top: 48px;
    align-self: flex-start;
  }
}

