.place {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  max-width: 984px;
  min-width: 320px;
  max-height: 660px;
  padding: 0;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin: 0;
}

